.App {
  text-align: center;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.card {
  width: 97vw;
  margin: 16px;
  height: 85vh;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem #c2c2c2;
}

.card-container {
  width: 50%;
}

.grid-container {
  width: 48vw;
}

.h-80 {
  height: 96.2%;
}